{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>lista</title>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'styles/estilo2.css' %}'>

  </head>
  <body>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Oferta</th>
          </tr>
        </thead>
        <tbody>
          {% for destino in destinos %}
          <tr>
            <td>{{ destino.name }}</td>
            <td>{{ destino.img }}</td>
            <td>{{ destino.desc }}</td>
            <td>{{ destino.price }}</td>
            <td>{{ destino.offer }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
</html>
