{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block titulo %}Lista de Destinos {% endblock titulo %}</title>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static 'styles/estilo2.css' %}'>

  </head>
  <body>
    <center>
      {% block cuerpo %}
    <h1>Lista de Destinos Turisticos</h1>
      <table border="2">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Oferta</th>
            <th>Menu</th>
          </tr>
        </thead>
        <tbody>
          {% for destino in destinos %}
          <tr>
            <td>{{ destino.name }}</td>
            <td>{{ destino.img }}</td>
            <td>{{destino.desc}}</td>
            <td>{{destino.price}}</td>
            <td>{{destino.offer}}</td>
            <td> <a href="{% url 'editar' destino.id %}">EDITAR</a> <a href="{% url 'eliminar' destino.id %}">ELIMINAR</a> </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock cuerpo %}
    </center>
  </body>
</html>
